<div>


<% @users.each do |u| %>
<div class="blk_center row card-deck border-info mb-3">
<h3><%= check_image(u)%> User - <%= u.username %></h3>
<h5>Created on - <%= u.created_at %><h5>
</div>

<% end %>