<h1>Hello <%=@user.username %></h1>


Self Care is the best care! &
<br>
You are so awesome for taking some 
<br>
time to love up on yourself!


<br>
<br>

<%= check_image(@user) %> 
                        

<h1>Your Groups</h1>

<%= render 'groups' %>


<%= link_to "Logout", logout_path, method:"delete"%>
