<% if @group %>
  <h1>Reviewss for <%= @group.name %> - <%= @group.type %></h1>
<% else %>
  <h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |review| %>

  <li>
  <%= review.groupa.name%>: <%= link_to review.review, review_path(review)%>  
  </li> <br>

<% end %>
</ul>